section#general {
	position: relative;
	margin: auto;
	width: 95%;
	background-color: #DADADA;
	margin-top: 3%;
	background-image: url(../imagenes/imgcontact.jpg);
	background-position: center;
	background-size: cover;
}

form {
	padding: 20px;
	width: 30%;
	border: 2px solid #fff;
	font-size: 25px;
	text-decoration: underline;
	background-color: rgba(255,255,255,0.6);
	font-weight: bold;
}

textarea {
	resize: vertical;
	max-height: 300px;
	min-height: 100px;
}

input, textarea {
	margin-bottom: 20px;
	width: 90%;
	border: 2px solid #fff;
	padding: 10px;
}

input[type="submit"] {
	margin-top: 0;
	background-color: #FF4141;
	color: #fff;
	border: none;
}

input[type="submit"]:hover {
	background-color: #C52833;
	cursor: pointer;
}

h1#titulo {
	background-color: #C8AD32;
	color: #fff;
	font-size: 50px;
	width: 100%;
}

img#logo {
	padding: 25px;
	float: right;
}
